// Icon + text link helper (Bootstrap icon-link)

.icon-link {
  display: inline-flex;
  gap: 0.375rem;
  align-items: center;
  text-decoration-color: rgba(
    var(--tg-link-color-rgb),
    var(--tg-link-opacity, 0.5)
  );
  text-underline-offset: 0.25em;
  backface-visibility: hidden;

  > .bi,
  > svg {
    flex-shrink: 0;
    width: 1em;
    height: 1em;
    fill: currentcolor;
    transition: transform 0.15s ease-in-out;
  }

  @media (hover: hover) {
    &:hover > .bi,
    &:hover > svg {
      transform: translateY(-1px) translateX(2px);
    }
  }
}

.icon-link-hover {
  @media (hover: hover) {
    &:hover > .bi,
    &:hover > svg,
    &:focus-visible > .bi,
    &:focus-visible > svg {
      transform: translate3d(0.25em, 0, 0);
    }
  }
}
