@use "../base/mixins" as *;
@use "sass:map";

@keyframes tg-spinner-border {
  to {
    transform: rotate(360deg);
  }
}

@keyframes tg-spinner-grow {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.tg-spinner,
.spinner-border,
.spinner-grow {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: -0.125em;
}

.spinner-border {
  border: 0.2em solid tg-rgba(--tg-primary-rgb, 0.25);
  border-right-color: var(--clr-primary);
  border-radius: 50%;
  animation: tg-spinner-border 0.75s linear infinite;
}

.spinner-grow {
  background-color: var(--clr-primary);
  border-radius: 50%;
  opacity: 0;
  animation: tg-spinner-grow 0.75s linear infinite;
}

.spinner-sm {
  width: 1rem;
  height: 1rem;
  border-width: 0.15em;
}

.spinner-lg {
  width: 3rem;
  height: 3rem;
  border-width: 0.25em;
}

@each $name, $meta in $tg-colors {
  $color: map.get($meta, color);
  $rgb: map.get($meta, rgb);

  .spinner-border-#{$name} {
    border-color: tg-rgba($rgb, 0.25);
    border-right-color: $color;
  }

  .spinner-grow-#{$name} {
    background-color: $color;
  }
}
