.form-floating {
  position: relative;

  > .form-control,
  > .tg-input,
  > .form-select,
  > .tg-form-select {
    height: calc(3.5rem + 2px);
    min-height: calc(3.5rem + 2px);
    line-height: 1.25;
    padding: 1rem var(--sz-4) 0.25rem;
  }

  > .form-control::placeholder,
  > .tg-input::placeholder {
    color: transparent;
    opacity: 0;
  }

  > label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    padding: 1rem var(--sz-4);
    overflow: hidden;
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity var(--duration) var(--ease), transform var(--duration) var(--ease);
    color: var(--clr-slate);
    text-transform: none;
    letter-spacing: normal;
    font-size: var(--fs-base);
    font-weight: var(--font-weight-normal);
  }

  > .form-control:focus ~ label,
  > .tg-input:focus ~ label,
  > .form-control:not(:placeholder-shown) ~ label,
  > .tg-input:not(:placeholder-shown) ~ label,
  > .form-select ~ label,
  > .tg-form-select ~ label {
    opacity: 0.85;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
    font-size: var(--fs-xs);
  }
}
