.col-form-label {
  padding-top: calc(var(--sz-3) + 1px);
  padding-bottom: calc(var(--sz-3) + 1px);
  margin-bottom: 0;
  font-size: inherit;
  line-height: var(--line-height-relaxed);
  text-transform: none;
  letter-spacing: normal;
  font-weight: var(--font-weight-medium);
  color: var(--clr-dark);
}

.col-form-label-lg {
  padding-top: calc(var(--sz-4) + 1px);
  padding-bottom: calc(var(--sz-4) + 1px);
  font-size: var(--fs-lg);
}

.col-form-label-sm {
  padding-top: calc(var(--sz-1) + 1px);
  padding-bottom: calc(var(--sz-1) + 1px);
  font-size: var(--fs-sm);
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sz-4);
}

.row > .col-form-label {
  display: flex;
  align-items: center;
}
