@use "../base/mixins" as *;

$tg-gutter-steps: 0, 1, 2, 3, 4, 5, 6;

@each $step in $tg-gutter-steps {
  $val: if($step == 0, 0, tg-space($step));

  .g-#{$step} {
    --tg-gutter-x: #{$val};
    --tg-gutter-y: #{$val};
  }

  .gx-#{$step} {
    --tg-gutter-x: #{$val};
  }

  .gy-#{$step} {
    --tg-gutter-y: #{$val};
  }
}

@include tg-infix using ($bp) {
  @each $step in $tg-gutter-steps {
    $val: if($step == 0, 0, tg-space($step));

    .#{tg-infix-class("g", $bp, $step)} {
      --tg-gutter-x: #{$val};
      --tg-gutter-y: #{$val};
    }

    .#{tg-infix-class("gx", $bp, $step)} {
      --tg-gutter-x: #{$val};
    }

    .#{tg-infix-class("gy", $bp, $step)} {
      --tg-gutter-y: #{$val};
    }
  }
}
